@font-face {
  font-family: "Vanitas-Regular";
  src: url("fonts/28D8A2_0_0.eot");
  src: url("fonts/28D8A2_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/28D8A2_0_0.woff") format("woff"), url("fonts/28D8A2_0_0.ttf") format("truetype");
}
